
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

/* -------------------navbar-------------------- */
.navbar-style{
    background-color: rgb(27, 25, 25);
}
.navbar-style:hover{
    background-color:#282A3A;
}
.brand{
    color: #fff;
    font-weight: bold;
}
.navbar-toggler-icon{
    background-color: #fff;
    border-radius: 25%;
}
.navbar-item{
    color: #fff;
    font-weight: bold;
}

.dropdown-bg{
    background-color: #99bbff;
}
/* <!-- $droplink$ --> */
.dropdawn-item{
    text-decoration: none;
}

/* -------------TITLE------------- */
.title{
    position: relative;
}


/* --------TOP CONTAINER---------- */
.top-container{
    padding: 7% 15%;
    
}
.header-text{
    position: relative;
    color:#fff;
    margin-top: 20%;
}
.header-text:hover{
    font-family: 'Courier New', Courier, monospace;
 
}


/* ---------------------------------MIDDLE CONTAINER-------------------------- */
.middle-container{
    position: relative;
    top: 500px;
    padding: 7% 15%;
    background-color: #fff;

}

.mosharekat-item{
    padding: 5%;
    border-style: solid;
    border-color: black;
}

.mosharekat-icon{
    color: red;
    padding: 2%;
}
.x{
    border-left:0px ;
    border-right: 0px;
}
.mosharekat-icon:hover{
    width: 200px;
    height: 200px;

}

.top-mosharekat-item:hover{
    border-color: red;
}
.middle-mosharekat-item:hover{
    border-color: red;

}
.buttom-mosharekat-item:hover{
    border-color: red;
}



/* ----------------------SELL PAGE---------------------- */

.selling-items{
    padding: 7% 15%;
}
.testimonial-image{
    width: 200px;
    height: 200px;
}
.head-text{
    color: #fff;
    padding: 5%;
}
.body-text{
    color: #fff;
    font-size: xx-large;
}


/* -------------------------CONNECT ME-------------------------- */
.connect-me{
    position: relative;
    background-color: #fff;
    top: 400px;
}
.f-icon{
    margin: 20px;
    color: black;
}
.f-icon:hover{
    width: 2.5rem;
    height: 2.5rem;
}